blockquote.route {
  border-left: none;
  padding-left: 0;

  .VPBadge {
    --vp-badge-tip-border: var(--vp-badge-tip-text);
  }

  code {
    display: inline-flex;
    align-items: center;
    vertical-align: top;
    height: 22px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-color: transparent;
    margin-left: 2px;
  }
}

.vp-doc {
  sup a {
    text-decoration: none;
  }

  a {
    text-underline-offset: 4px;
  }

  table {
    .VPBadge {
      transform: none;
    }
  }
}

.adapter-table {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem 1rem;

  a.adapter {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 4rem;
    border-radius: 12px;
    background-color: var(--vp-c-bg-soft);
    transition: all 0.3s ease;
    text-decoration: none;
    color: var(--vp-c-text);
    cursor: pointer;
    user-select: none;
  }

  .adapter:hover {
    background-color: var(--vp-c-bg-alt);
  }
}
