blockquote.route {
  border-left: none;
  padding-left: 0;

  .VPBadge {
    --vp-badge-tip-border: var(--vp-badge-tip-text);
  }

  code {
    display: inline-flex;
    align-items: center;
    vertical-align: top;
    height: 22px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-color: transparent;
    margin-left: 2px;
  }
}

.vp-doc sup a {
  text-decoration: none;
}
